<div class="panel panel-default" style="width: 40%; margin: 5px auto">
  <div class="panel-body">
    <h2>Сменить Email и/или пароль</h2>

    <%= simple_form_for(resource, as: resource_name, url: user_registration_path(resource), html: {method: :put}) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, label: 'Email', required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :password, label: 'Новый пароль', autocomplete: "off", hint: "не меняйте поле, если не хотите менять пароль", required: false %>
          <%= f.input :password_confirmation, label: 'Повторите новый пароль', required: false %>
          <%= f.input :current_password, label: 'Старый пароль', hint: "введите старый пароль, для подтверждения изменений", required: true %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Сохранить" %>
        </div>
    <% end %>
    <br>
    <%= link_to "Назад", :back %>
  </div>
</div>
