<%= form_tag({action: action_name, id: @lesson || @patrol, last_value: get_value_name}, method: method_name(action_name)) do %>

    <h4><%= kind_of_action(action_name) %></h4>
    <hr>
    <%= show_info(@date, @soldier_id) %>

    <%= hidden_field(:lesson, :date, value: @date) %>
    <%= hidden_field(:lesson, :soldier_id, value: @soldier_id) %>

    <%= hidden_field(:patrol, :patrol_start, value: @date - 1.day) %>
    <%= hidden_field(:patrol, :patrol_end, value: @date) %>
    <%= hidden_field(:patrol, :soldier_id, value: @soldier_id) %>

    <div class="well">
      <div class="radio">
        <label> пары</label>
        <%= radio_button_tag(:new_value, 'lesson', (checked = action_name == 'create' || @lesson)) %>
      </div>

      <div id="lessons" class="form-group" style="display: none">
        <label>Количество пар:</label>
        <%= text_field(:lesson, :hours, class: 'form-control', placeholder: 'только числа от 1 до 9') %>
      </div>
    </div>

    <div class="well">
      <div class="radio">
        <label> наряд</label>
        <%= radio_button_tag(:new_value, 'patrol', (checked = action_name == 'update' && @patrol)) %>
      </div>

      <div id="patrols" style="display: none">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="radio">
              <label> наряд по факультету</label>
              <%= radio_button(:patrol, :kind, 'ф') %>
            </div>
            <div class="radio">
              <label> наряд по уч. корпусу</label>
              <%= radio_button(:patrol, :kind, 'у') %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= submit_tag('Сохранить', class: 'btn btn-primary') %>
    <% if action_name == 'update' %>
        <%= link_to 'Удалить', {action: 'destroy', id: @lesson || @patrol, last_value: get_value_name}, method: 'delete', class: 'btn btn-danger' %>
    <% end %>
<% end %>

<script>
    function rb_handler() {
        if ($('#new_value_lesson').is(':checked')) {
            $('#lessons').show();
            $('#patrols').hide();
        }
        else {
            $('#patrols').show();
            $('#lessons').hide();
        }
    }

    $(function () {
        $('[name="new_value"]').change(rb_handler).change();
    })
</script>



