<%= form_tag(action: action_name) do %>

    <h4><%= kind_of_action(action_name) %></h4>
    <hr>
    <%=show_info(@lesson.date || @patrol.patrol_start, @lesson.soldier_id || @patrol.soldier_id)%>

    <%= hidden_field(:lesson, :date, value: @lesson.date) %>
    <%= hidden_field(:lesson, :soldier_id, value: @lesson.soldier_id) %>

    <%= hidden_field(:patrol, :patrol_start, value: @patrol.patrol_start) %>
    <%= hidden_field(:patrol, :patrol_end, value: @patrol.patrol_end) %>
    <%= hidden_field(:patrol, :soldier_id, value: @patrol.soldier_id) %>

    <form class="form-horizontal">
      <div class="well">
        <div class="radio">
          <label> пары</label>
          <%= radio_button_tag(:patrol_present, 'false', checked = true) %>
        </div>

        <div class="form-group">
          <label>Количество пар:</label>
            <%= text_field(:lesson, :hours, class: 'form-control', placeholder: 'кол-во пар') %>
        </div>
      </div>

      <div class="well">
        <div class="radio">
          <label> наряд</label>
          <%= radio_button_tag(:patrol_present, 'true') %>
        </div>
      </div>
    </form>
    <%= submit_tag('Save') %>
<% end %>



