<!-- Table -->
<table class="table table-striped ">
  <thead>
  <tr>
    <th>звание & ФИО</th>
    <th><span style="float: right">Процент нарядов</span></th>
    <th><span style="float: right">Кол-во пар</span></th>
    <th><span style="float: right; color: red">Наряды(ф/у)</span></th>
    <th><span style="float: right">пт-сб (ф/у)</span></th>
    <th><span style="float: right">сб-вс (ф/у)</span></th>
    <th><span style="float: right">вс-пн (ф/у)</span></th>
    <th><span style="float: right">Праздники(ф/у)</span></th>
  </tr>
  </thead>
  <tbody>
  <% soldiers_sort(@current_date).each do |s| %>
      <tr>
        <th>
          <span style="color: #cfcfcf"><%= Rank.find(s.rank_id).title + ' ' %></span>
          <%= s.surname + ' ' + s.name[0] + '.' + s.patronymic[0] + '.' %>
        </th>
        <th>
          <div class="progress progress-striped active">
            <div class="progress-bar progress-bar-info six-sec-ease-in-out"
                 role="progressbar"
                 aria-valuemin="0" aria-valuemax="100"
                 aria-valuetransitiongoal="100"
                 style="width: <%= get_percents(@current_date.beginning_of_month, @current_date.end_of_month, s.id, all_patrols) %>">
              <span class="sr-only"></span>
            </div>
          </div>
        </th>
        <th>
          <span style="float: right">
            <%= count_lessons_by_date(@current_date.beginning_of_month,
                                      @current_date.end_of_month,
                                      s.id, all_lessons) %>
          </span>
        </th>
        <th>
          <% f_patrols, y_patrols = count_patrols_by_date(@current_date.beginning_of_month,
                                                          @current_date.end_of_month,
                                                          s.id, all_patrols) %>
          <span style="float: right; color: red"><%= "#{f_patrols} / #{y_patrols}" %></span>
        </th>
        <th>
          <% f_patrols, y_patrols = count_patrols_by_day(@current_date.beginning_of_month, @current_date.end_of_month,
                                                         s.id, :saturday, all_patrols) %>
          <span style="float: right"><%= "#{f_patrols} / #{y_patrols}" %></span>
        </th>
        <th>
          <% f_patrols, y_patrols = count_patrols_by_day(@current_date.beginning_of_month, @current_date.end_of_month,
                                                         s.id, :sunday, all_patrols) %>
          <span style="float: right"><%= "#{f_patrols} / #{y_patrols}" %></span>
        </th>
        <th>
          <% f_patrols, y_patrols = count_patrols_by_day(@current_date.beginning_of_month, @current_date.end_of_month,
                                                         s.id, :monday, all_patrols) %>
          <span style="float: right"><%= "#{f_patrols} / #{y_patrols}" %></span>
        </th>
        <th>
          <% f_patrols, y_patrols = count_patrols_by_celebrations(@current_date.beginning_of_month, @current_date.end_of_month,
                                                                  s.id, all_patrols) %>
          <span style="float: right"><%= "#{f_patrols} / #{y_patrols}" %></span>
        </th>
      </tr>
  <% end %>
  </tbody>
</table>

