<!-- Table -->
<table class="table table-striped ">
  <thead>
  <tr>
    <th>звание & ФИО</th>
    <th><span style="float: right">Кол-во пар</span></th>
    <th><span style="float: right; color: red">Кол-во нарядов</span></th>
    <th><span style="float: right">Нарядов пт-сб</span></th>
    <th><span style="float: right">Нарядов сб-вс</span></th>
  </tr>
  </thead>
  <tbody>
  <% soldiers_sort.each do |s| %>
      <tr>
        <th>
          <span style="color: #cfcfcf"><%= Rank.find(s.rank_id).title + ' ' %></span>
          <%= s.surname + ' ' + s.name[0] + '.' + s.patronymic[0] + '.' %>
        </th>
        <th>
          <span style="float: right"><%= count_lessons(@current_date.beginning_of_month, @current_date.end_of_month, s.id) %></span>
        </th>
        <th>
          <span style="float: right; color: red"><%= count_patrols(@current_date.beginning_of_month, @current_date.end_of_month, s.id) %></span>
        </th>
        <th>
          <span style="float: right"><%= count_patrols_fr_sat(@current_date.beginning_of_month, @current_date.end_of_month, s.id) %></span>
        </th>
        <th>
          <span style="float: right"><%= count_patrols_sat_sun(@current_date.beginning_of_month, @current_date.end_of_month, s.id) %></span>
        </th>
      </tr>
  <% end %>
  </tbody>
</table>