<ul class="nav nav-pills nav-justified">
  <li>
    <div class="btn-group">
      <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
        Год: <%= @current_date.year %> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <% (Date.current.year - 5).upto(Date.current.year + 5) do |year| %>
            <li <%= 'style="background-color: #faf0e6"'.html_safe if year == Date.current.year %>> <%= link_to(year, action: 'index', year: year, month: @current_date.month) %></li>
        <% end %>
      </ul>
    </div>
  </li>
  <% 1.upto 12 do |month| %>
      <li <%= 'class = "active"'.html_safe if  month == @current_date.month %>>
        <%= link_to(Russian.strftime(Date.new(@current_date.year, month, 1), '%B'), action: 'index', year: @current_date.year, month: month) %>
  <% end %>
</ul>
<hr>
<%= render partial: 'timetables/main_table' %>
<hr>
<div class="row">
  <div class="col-lg-9">
    <h3>Статистика за <%= Russian.strftime(@current_date, '%B').mb_chars.downcase %>:</h3>
    <%= render partial: 'timetables/statistics_table' %>
  </div>
  <div class="col-lg-3">
    <div class="well">
      <div class="row">
        <div class="col-lg-6">
          <span style="float: right">
            <%= link_to image_tag('excel.png', size: '60x60'), timetables_path(format: 'xls', year: @current_date.year, month: @current_date.month) %>
          </span>
        </div>
        <div class="col-lg-6">
          <%= link_to image_tag('csv.png', size: '60x60'), timetables_path(format: 'csv', year: @current_date.year, month: @current_date.month) %>
        </div>
      </div>
      <hr>
      <h4>Легенда</h4>
      <!-- Table -->
      <table class="table">
        <thead>
        <tr>
          <th>назначение</th>
          <th>отображение</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>наряд</th>
          <th style="background-color: #f5f5dc">н</th>
        </tr>
        <tr>
          <th>кол-во пар</th>
          <th style="background-color: #f5f5dc">4</th>
        </tr>
        <tr>
          <th>выходной</th>
          <th style="background-color: #faf0e6"></th>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



<div id="dialog" title="Форма ввода">
  <p></p>
</div>


<script>
    $(function () {
        function new_handler() {
            var soldier_id = $(this).attr('data-soldier-id');
            var date = $(this).attr('data-date');
            $("#dialog").load('/timetables/ajax_load_form',
                    {soldier_id: soldier_id, date: date, action_name: 'new'}).dialog(
                    {
                        position: {
                            my: "center",
                            at: "top",
                            of: window,
                            collision: 'fit'
                        },
                        modal: true,
                        show: {
                            effect: "blind",
                            duration: 150
                        }
                    });
        }

        function edit_handler() {
            var soldier_id = $(this).attr('data-soldier-id');
            var date = $(this).attr('data-date');
            $("#dialog").load('/timetables/ajax_load_form',
                    {soldier_id: soldier_id, date: date, action_name: 'edit'}).dialog(
                    {
                        position: {
                            my: "center",
                            at: "top",
                            of: window,
                            collision: 'fit'
                        },
                        modal: true,
                        show: {
                            effect: "blind",
                            duration: 150
                        }
                    });
        }

        $('[data-action="n"]').click(new_handler);
        $('[data-action="e"]').click(edit_handler);
    });
</script>