<ul class="nav nav-pills nav-justified">
  <li>
    <div class="btn-group">
      <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
        Год: <%= @current_date.year %> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <% (Date.current.year - 5).upto(Date.current.year + 5) do |year| %>
            <li <%= 'style="background-color: #faf0e6"'.html_safe if year == Date.current.year %>> <%= link_to(year, action: 'index', year: year, month: @current_date.month) %></li>
        <% end %>
      </ul>
    </div>
  </li>
  <% 1.upto 12 do |month| %>
      <li <%= 'class = "active"'.html_safe if  month == @current_date.month %>>
        <%= link_to(Russian.strftime(Date.new(@current_date.year, month, 1), '%B'), action: 'index', year: @current_date.year, month: month) %>
  <% end %>
</ul>
<hr>
<!-- Table -->
<table class="table table-bordered">
  <thead>
  <tr>
    <th>ФИО</th>
    <% 1.upto @current_date.end_of_month.day do |day| %>
        <th><%= day %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @soldiers.each do |s| %>
      <tr>
        <th><%= s.surname + ' ' + s.name[0] + '.' + s.patronymic[0] + '.' %></th>
        <% 1.upto @current_date.end_of_month.day do |day| %>
            <% current_day = @current_date + day.day - 1 %>
            <%= state_of_cell(:th, current_day, s.id)%>
          <% end %>
      </tr>
  <% end %>
  </tbody>
</table>



<div id="dialog" title="Формы ввода">
  <p></p>
</div>


<script>
    $(function () {
        function new_handler() {
            var soldier_id = $(this).attr('soldier_id');
            var date = $(this).attr('date');
            $("#dialog").load('/timetables/ajax_load_form', {soldier_id: soldier_id, date: date}).dialog();
         }

        function edit_handler() {
            alert('edit');

        }

        $('[data-action="n"]').click(new_handler);
        $('[data-action="e"]').click(edit_handler);
    });
</script>