<ul class="nav nav-pills nav-justified">
  <li>
    <div class="btn-group">
      <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
        Large button <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>2014</li>
        <li>2015</li>
      </ul>
    </div>
  </li>
  <% 1.upto(12) do |month|%>
      <li <%= 'class = "active"'.html_safe if  month == Date.new(@current_year, @current_month, 1).month %>>
        <%= link_to(Russian.strftime(Date.new(@current_year, month, 1), '%B'), action: 'index', month: month) %>
        <!--<a href="#"><%= Russian.strftime(Date.new(@current_year, month, 1), '%B') %></a></li>-->
  <% end %>
</ul>
<hr>
<!-- Table -->
<table class="table table-bordered">
  <thead>
  <tr>
    <th>ФИО</th>
    <% 1.upto Date.new(@current_year, @current_month, 1).end_of_month.day do |day| %>
        <th><%= day %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @soldiers.each do |s| %>
      <tr>
        <th><%= s.surname + ' ' + s.name[0] + '.' + s.patronymic[0] + '.' %>        </th>
        <% 0.upto(Date.new(@current_year, @current_month, 1).end_of_month.day - 1) do |day| %>
            <% current_day = Date.new(@current_year, @current_month, 1) + day.day %>
            <th <%= "style='background-color: #{@color_day_off}'".html_safe if current_day.saturday? || current_day.sunday? %>></th>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>