<ul class="nav nav-pills nav-justified">
  <li>
    <div class="btn-group">
      <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
        Год: <%= @current_date.year %> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <% (Date.current.year - 5).upto(Date.current.year + 5) do |year| %>
            <li <%= 'style="background-color: #faf0e6"'.html_safe if year == Date.current.year %>> <%= link_to(year, action: 'index', year: year, month: @current_date.month) %></li>
        <% end %>
      </ul>
    </div>
  </li>
  <% 1.upto 12 do |month| %>
      <li <%= 'class = "active"'.html_safe if  month == @current_date.month %>>
        <%= link_to(Russian.strftime(Date.new(@current_date.year, month, 1), '%B'), action: 'index', year: @current_date.year, month: month) %>
  <% end %>
</ul>
<hr>
<!-- Table -->
<table class="table table-bordered">
  <thead>
  <tr>
    <th>ФИО</th>
    <% 1.upto @current_date.end_of_month.day do |day| %>
        <th><%= day %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @soldiers.each do |s| %>
      <tr>
        <th><%= s.surname + ' ' + s.name[0] + '.' + s.patronymic[0] + '.' %></th>
        <% 1.upto @current_date.end_of_month.day do |day| %>
            <% current_day = @current_date + day.day - 1 %>
            <%= state_of_cell(:th, current_day, s.id) %>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>
<hr>
<div class="row">
  <div class="col-lg-9">
    <h3>Статистика за <%= Russian.strftime(@current_date, '%B').mb_chars.downcase %>:</h3>
    <!-- Table -->
    <table class="table table-striped ">
      <thead>
      <tr>
        <th>звание & ФИО</th>
        <th><span style="float: right">Кол-во пар</span></th>
        <th><span style="float: right; color: red">Кол-во нарядов</span></th>
        <th><span style="float: right">Нарядов пт-сб</span></th>
        <th><span style="float: right">Нарядов сб-вс</span></th>
      </tr>
      </thead>
      <tbody>
      <% soldiers_sort.each do |s| %>
          <tr>
            <th>
              <span style="color: #cfcfcf"><%= Rank.find(s.rank_id).title + ' ' %></span>
              <%= s.surname + ' ' + s.name[0] + '.' + s.patronymic[0] + '.' %>
            </th>
            <th>
              <span style="float: right"><%= count_lessons(@current_date.beginning_of_month, @current_date.end_of_month, s.id) %></span>
            </th>
            <th>
              <span style="float: right; color: red"><%= count_patrols(@current_date.beginning_of_month, @current_date.end_of_month, s.id) %></span>
            </th>
            <th>
              <span style="float: right"><%= count_patrols_fr_sat(@current_date.beginning_of_month, @current_date.end_of_month, s.id) %></span>
            </th>
            <th>
              <span style="float: right"><%= count_patrols_sat_sun(@current_date.beginning_of_month, @current_date.end_of_month, s.id) %></span>
            </th>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-lg-3">
    <div class="well">
      <div class="row">
        <div class="col-lg-6">
          <span style="float: right">
            <%= link_to image_tag('excel.png', size: '60x60'), timetables_path(format: 'xls', year: @current_date.year, month: @current_date.month) %>
          </span>
        </div>
        <div class="col-lg-6">
          <%= link_to image_tag('csv.png', size: '60x60'), timetables_path(format: 'csv', year: @current_date.year, month: @current_date.month) %>
        </div>
      </div>
      <hr>
      <h4>Легенда</h4>
      <!-- Table -->
      <table class="table">
        <thead>
        <tr>
          <th>назначение</th>
          <th>отображение</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>d</th>
          <th>d</th>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



<div id="dialog" title="Диалоговое окно">
  <p></p>
</div>


<script>
    $(function () {
        function new_handler() {
            var soldier_id = $(this).attr('data-soldier-id');
            var date = $(this).attr('data-date');
            $("#dialog").load('/timetables/ajax_load_form', {soldier_id: soldier_id, date: date, action_name: 'new'}).dialog();
        }

        function edit_handler() {
            var soldier_id = $(this).attr('data-soldier-id');
            var date = $(this).attr('data-date');
            $("#dialog").load('/timetables/ajax_load_form', {soldier_id: soldier_id, date: date, action_name: 'edit'}).dialog();
        }

        $('[data-action="n"]').click(new_handler);
        $('[data-action="e"]').click(edit_handler);
    });
</script>