<% lessons, patrols = get_all_workdays(@current_date.beginning_of_month, @current_date.end_of_month) %>
<ul class="nav nav-pills nav-justified">
  <li>
    <div class="btn-group">
      <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
        Год: <%= @current_date.year %> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <% (Date.current.year - 5).upto(Date.current.year + 5) do |year| %>
            <li <%= 'style="background-color: #faf0e6"'.html_safe if year == Date.current.year %>> <%= link_to(year, action: 'index', year: year, month: @current_date.month) %></li>
        <% end %>
      </ul>
    </div>
  </li>
  <% 1.upto 12 do |month| %>
      <li <%= 'class = "active"'.html_safe if  month == @current_date.month %>>
        <%= link_to(Russian.strftime(Date.new(@current_date.year, month, 1), '%B'), action: 'index', year: @current_date.year, month: month) %>
  <% end %>
</ul>
<hr>
<%= render partial: 'timetables/main_table', locals: {all_lessons: lessons, all_patrols: patrols} %>
<hr>

<h3>
  Статистика за <%= Russian.strftime(@current_date, '%B').mb_chars.downcase %>:
  <button style="float: right" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">
    Сохранить таблицу
  </button>
</h3>
<%= render partial: 'timetables/statistics_table', locals: {all_lessons: lessons, all_patrols: patrols} %>


<!-- Small modal -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="well">
        <div class="row">
          <h4 style="text-align:center">Скачать / распечатать</h4>
          <hr>
          <div class="col-lg-6">
          <span style="float: right">
            <%= link_to image_tag('excel.png', size: '60x60'), timetables_path(format: 'xls', year: @current_date.year, month: @current_date.month) %>
          </span>
          </div>
          <!--<div class="col-lg-6">-->
          <!--<%= link_to image_tag('print.png', size: '60x60'), timetables_path(format: 'csv', year: @current_date.year, month: @current_date.month) %>-->
          <!--</div>-->
          <div class="col-lg-6">
            <%= link_to image_tag('print.png', size: '60x60'), show_table_timetables_path(year: @current_date.year, month: @current_date.month), :target => '_blank' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="dialog" title="Форма ввода">
  <p></p>
</div>


<script>
    $(function () {
        function new_handler() {
            var soldier_id = $(this).attr('data-soldier-id');
            var date = $(this).attr('data-date');
            $("#dialog").load('/timetables/ajax_load_form',
                    {soldier_id: soldier_id, date: date, action_name: 'new'}).dialog(
                    {
                        position: {
                            my: "center",
                            at: "top",
                            of: window,
                            collision: 'fit'
                        },
                        modal: true,
                        show: {
                            effect: "drop",
                            duration: 250
                        },
                        minWidth: 400
                    });
        }

        function edit_handler() {
            var soldier_id = $(this).attr('data-soldier-id');
            var date = $(this).attr('data-date');
            $("#dialog").load('/timetables/ajax_load_form',
                    {soldier_id: soldier_id, date: date, action_name: 'edit'}).dialog(
                    {
                        position: {
                            my: "center",
                            at: "top",
                            of: window,
                            collision: 'fit'
                        },
                        modal: true,
                        show: {
                            effect: "drop",
                            duration: 250
                        },
                        minWidth: 400
                    });
        }

        $('[data-action="n"]').click(new_handler);
        $('[data-action="e"]').click(edit_handler);
//        $('.progress-bar').progressbar({
//            display_text: 'center',
//            use_percentage: false,
//            refresh_speed: 500
//        });
    });
</script>