<div class="row">
  <div class="col-lg-9">
    <% if can? :create, Soldier %>
        <%= link_to 'Добавить человека', new_soldier_path, class: 'btn btn-success' %>
        <hr>
    <% end %>
    <%= render partial: 'soldiers/table', locals: {date_start: @date_start, date_end: @date_end, kind: :main} %>
    <% start_year = Date.new(Date.current.year, 1, 1); end_year = Date.new(Date.current.year, 12, 31) %>
    <% 0.upto 3 do |index| %>
        <div style="display: none" id="<%= (Date.current.year - index).to_s + 'y' %>">
          <%= render partial: 'soldiers/table', locals: {date_start: start_year - index.year, date_end: end_year - index.year} %>
        </div>
    <% end %>
  </div>
  <div class="col-lg-3">
    <h4>Статистика</h4>
    <hr>

    <%= form_tag(soldiers_path, method: :get) do %>
        <div class="row">
          <div class="col-lg-2">
            <h4>C: </h4>
          </div>
          <div class="col-lg-10">
            <%= datepicker('date_start', 'date_start', @date_start) %>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-2">
            <h4>По: </h4>
          </div>
          <div class="col-lg-10">
            <%= datepicker('date_end', 'date_end', @date_end) %>
          </div>
        </div>

        <div style="text-align: right">
          <%= submit_tag 'Получить статистику', class: 'btn btn-primary onload', id: 'send_dates', name: nil %>
        </div>
    <% end %>
    <hr>
    <% 0.upto 3 do |index| %>
        <div class="checkbox">
          <label>
            <input class="statistics" type="checkbox" id="<%= (Date.current.year - index).to_s %>">
            <h4>показать за <%= (Date.current.year - index).to_s %></h4>
          </label>
        </div>
        <hr>
    <% end %>
  </div>
</div>

<!--<div id="loader" style="display: none">-->
<!--<%= image_tag('ajax-loader.gif') %>-->
<!--</div>-->


<script type="text/javascript">
    $(function () {
        $('#date_start').datetimepicker({
            pickTime: false,
            language: 'ru'
        });

        $('#date_end').datetimepicker({
            pickTime: false,
            language: 'ru'
        });

        $('.statistics').click(show_table);

//        $('.onload').click(page_load);
    });

    function show_table() {
        var currentIdTable = '#' + $(this).attr('id') + 'y';
        if (this.checked) {
            $(currentIdTable).show();
        }
        else {
            $(currentIdTable).hide();
        }
    }

    //    function page_load() {
    //        $('body').mask("Loading...");
    //    }
</script>

