<div class="row">
  <div class="col-lg-9">
    <%= link_to 'Добавить человека', new_soldier_path, class: 'btn btn-success' %>
    <hr>
    <!-- Table -->
    <table class="table table-striped ">
      <thead>
      <tr>
        <th>ФИО</th>
        <th>Кол-во лекций</th>
      </tr>
      </thead>
      <tbody>
      <% @soldiers.each do |s| %>
          <tr>
            <th>
              <%= link_to soldier_path(s), method: :delete, confirm: 'Вы точно уверены?' do
                raw '<span style= "color: red" class="glyphicon glyphicon-remove"></span>'
              end %>
              <%= link_to edit_soldier_path(s) do
                raw '<span class="glyphicon glyphicon-pencil"></span>'
              end %>
              <span style="color: #cfcfcf"><%= Rank.find(s.rank_id).title + ' ' %></span>
              <%= s.surname + ' ' + s.name[0] + '.' + s.patronymic[0] + '.' %>
            </th>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-lg-3">
    <h4>Статистика</h4>
    <hr>
    <div class="row">
      <div class="col-lg-2">
        <h4>C: </h4>
      </div>
      <div class="col-lg-10">
        <div class="form-group">
          <div class='input-group date' id='datetimepicker1'>
            <input type='text' class="form-control"/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-2">
        <h4>По: </h4>
      </div>
      <div class="col-lg-10">
        <div class="form-group">
          <div class='input-group date' id='datetimepicker2'>
            <input type='text' class="form-control"/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
          </div>
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-primary">Получить статистику</button>

  </div>
</div>


<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({
            pickTime: false,
            language: 'ru'
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker2').datetimepicker({
            pickTime: false,
            language: 'ru'
        });
    });
</script>

