<div class="row">
  <div class="col-lg-9">
    <%= link_to 'Добавить человека', new_soldier_path, class: 'btn btn-success' %>
    <hr>
    <!-- Table -->
    <table class="table table-striped ">
      <thead>
      <tr>
        <th>звание & ФИО</th>
        <th><span style="float: right">Кол-во пар</span></th>
        <th><span style="float: right">Кол-во нарядов</span></th>
        <th><span style="float: right">Нарядов пт-сб</span></th>
        <th><span style="float: right">Нарядов сб-вс</span></th>
      </tr>
      </thead>
      <tbody>
      <% @soldiers.each do |s| %>
          <tr>
            <th>
              <%= link_to soldier_path(s), method: :delete, confirm: 'Вы точно уверены?' do
                raw '<span style= "color: red" class="glyphicon glyphicon-remove"></span>'
              end %>
              <%= link_to edit_soldier_path(s) do
                raw '<span class="glyphicon glyphicon-pencil"></span>'
              end %>
              <span style="color: #cfcfcf"><%= Rank.find(s.rank_id).title + ' ' %></span>
              <%= s.surname + ' ' + s.name[0] + '.' + s.patronymic[0] + '.' %>
            </th>
            <th>
              <span style="float: right"><%= count_lessons(@date_start, @date_end, s.id) %></span>
            </th>
            <th>
              <span style="float: right"><%= count_patrols(@date_start, @date_end, s.id) %></span>
            </th>
            <th>
              <span style="float: right"><%= count_patrols_fr_sat(@date_start, @date_end, s.id) %></span>
            </th>
            <th>
              <span style="float: right"><%= count_patrols_sat_sun(@date_start, @date_end, s.id) %></span>
            </th>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-lg-3">
    <h4>Статистика</h4>
    <hr>

    <%= form_tag(soldiers_path, method: :get) do %>


        <div class="row">
          <div class="col-lg-2">
            <h4>C: </h4>
          </div>
          <div class="col-lg-10">
            <%= datepicker('date_start', 'date_start', @date_start) %>
          </div>
        </div>


        <div class="row">
          <div class="col-lg-2">
            <h4>По: </h4>
          </div>
          <div class="col-lg-10">
            <%= datepicker('date_end', 'date_end', @date_end) %>
          </div>
        </div>

        <%= submit_tag 'Получить статистику', class: 'btn btn-primary', id: 'send_dates', name: nil%>
    <% end %>
  </div>
</div>


<script type="text/javascript">
    $(function () {
        $('#date_start').datetimepicker({
            pickTime: false,
            language: 'ru'
        });
    });

    $(function () {
        $('#date_end').datetimepicker({
            pickTime: false,
            language: 'ru'
        });
    });
</script>

