<!DOCTYPE html>
<html>
<head>
  <title>MilitaryOrder</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="page-header">
    <h1>Military Order
      <small># сегодня: <%= Russian.strftime(Time.now, '%d %B %Y') %></small>
    </h1>
  </div>
  <ul class="nav nav-tabs">
    <li <%= 'class = "active"'.html_safe if @current_tab == :timetables %>>
      <a href='<%= "#{request.protocol}#{request.host_with_port}" %>'>Расписание</a></li>
    <li <%= 'class = "active"'.html_safe if @current_tab == :soldiers %>>
      <a href='<%= "#{request.protocol}#{request.host_with_port}/soldiers" %>'>Состав</a></li>
    <li <%= 'class = "active"'.html_safe if @current_tab == :settings %>>
      <a href='<%= "#{request.protocol}#{request.host_with_port}/settings" %>'>Настройки</a></li>
    <li style="float: right">
      <% if user_signed_in? %>
          <form method="post">
            <%= link_to('ВЫЙТИ', destroy_user_session_path, :method => 'delete', class: 'btn btn-warning') %>
          </form>
      <% end %></li>
  </ul>
  <br>
  <%= yield %>
</div>

</body>
</html>



