<!DOCTYPE html>
<html>
<head>
  <title>MilitaryOrder</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="page-header">
    <h1>Military Order
      <small># сегодня: <%= Russian.strftime(Time.now, '%d %B %Y') %></small>
    </h1>
  </div>
  <ul class="nav nav-tabs">
    <li <%= 'class = "active"'.html_safe if @current_tab == :timetables %>>
      <a href='<%= "#{request.protocol}#{request.host_with_port}" %>'>Расписание</a></li>
    <li <%= 'class = "active"'.html_safe if @current_tab == :soldiers %>>
      <a href='<%= "#{request.protocol}#{request.host_with_port}/soldiers" %>'>Состав</a></li>
    <li <%= 'class = "active"'.html_safe if @current_tab == :settings %>>
      <a href='<%= "#{request.protocol}#{request.host_with_port}/settings" %>'>Настройки</a></li>
  </ul>
  <br>
  <%= yield %>
</div>

</body>
</html>

