<!DOCTYPE html>
<html>
<head>
  <title>MilitaryOrder</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="row">
  <div class="container">
    <div class="page-header">
      <h1>Military Order <small>// a.emchik <%=Time.now.year%> ©</small></h1>
    </div>
    <ul class="nav nav-tabs">
      <li <%= 'class = "active"'.html_safe if @current_tab == :timetables %>><a href='<%= "#{request.protocol}#{request.host_with_port}" %>'>Расписание</a></li>
      <li <%= 'class = "active"'.html_safe if @current_tab == :soldiers %>><a href='<%= "#{request.protocol}#{request.host_with_port}/soldiers"%>'>Состав</a></li>
      <li <%= 'class = "active"'.html_safe if @current_tab == :settings %>><a href="#">Настройки</a></li>
    </ul>
    <div class='col-md-10'>
      <br>
      <%= yield %>
    </div>
    <div class='col-md-2'>
      <br>
      <ul class="nav nav-pills nav-stacked">
        <li class = 'active'><a href="#">Home</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Messages</a></li>
      </ul>
    </div>
  </div>
</div>

</body>
</html>
